@import "tailwindcss";

:root {
  --color-primary: #1e3a8a;
  --color-secondary: #3b82f6;

  --color-bg: #f9fafb;
  --color-card: #ffffff;

  --color-textPrimary: #111827;
  --color-textSecondary: #6b7280;
}

.dark {
  --color-bg: #020617;
  --color-card: #0f172a;

  --color-textPrimary: #f1f5f9;
  --color-textSecondary: #94a3b8;
}

body {
  background-color: var(--color-bg);
  color: var(--color-textPrimary);
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

input, textarea, select {
  background-color: var(--color-card);
}

html,
body,
#root {
  background-color: var(--color-bg);
}

body {
  background-color: var(--color-bg);
  color: var(--color-textPrimary);
}