@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #3b82f6;
  --color-appBg: #f9fafb;
  --color-card: #ffffff;

  --color-textPrimary: #111827;
  --color-textSecondary: #6b7280;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --shadow-soft: 0 4px 20px rgba(17, 24, 39, 0.06);
  --radius-card: 1rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #111827;
  background-color: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
  color: #111827;
}

* {
  box-sizing: border-box;
}